body {
    background-color: rgb(224, 160, 224);
    font-size: 16px;
    font-family: monospace;
    text-align: right;
    display: table-cell inline-block;
    align-items: center;
    width: 525px;
    margin: 0 auto;
}

div.wrapper {
    align-items: center;
}
